.container{
    display: flex;
}
.others{
    flex: 4;
}
body{
    background-color: #CA8A8A;
    background-image: ;
}
p{
    margin: 150px; 
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(244, 244, 244);
    
}
img {
    width: 100%;
    height: -10%;
}   