.container{
    display: flex;
}
.others{
    flex: 4;
}

body{
        background-color: #CA8A8A;
        background-image: url(./images/yoga.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        background-attachment: fixed;
    
        
}
    

p{
    margin: 150px; 
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(244, 244, 244);
    
}
.Logo{
    background-image: url(./images/tri.png);
}
