/* h1 {
    margin: 0px;
    padding: 0px;
} */
#wall {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#wall h1 {
    margin: 0px;
}

.alert {
    border-left: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
}

.alert p {
    padding-left: 10px;
}

#post-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.h3{
    color:  black important!;
}