/* h1 {
    margin: 0px;
    padding: 0px;
} */
#wall {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#wall h1 {
    margin: 0px;
}

.alert {
    border-left: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
}

.alert p {
    padding-left: 10px;
}

#post-list {
    background-color: red;

    align-items: center;
    width: 100%;
}


.h3{
    color:  black important!;
}

h5{
    color:black;
}

p{
    color:black;
}

.cardbox{
    background-color: pink;

}

.card {

    display: block;
    margin: 60px auto;
    box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
    transition: .25s;
    padding-left: 5rem;
  }

  .card-text{
    margin:0;
  }

  .pbody{
    padding-top: 2rem;

  }


  .card-title{
  display: flex;
    justify-content: center;
    background-color: grey;
    border-bottom: solid black;
  }

  .card-subtitle{
    font-style: italic;

  }

  .card-body {
    font-size: larger;
    padding: 20px;
    font-family: cursive;

  }

  .thumbnail1{
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px black;
  /* justify-content: center; */
background-color: orange;
  }